<!-- <table align ="center" width ="50%">
	<tr>
		<th>First Number</th>
		<td><input  [(ngModel)]="Firstnum"/></td>
	</tr>
	<tr>
		<th>Second Number</th>
		<td><input type="text" [(ngModel)]="Secondnum"/></td>
	</tr>
	<tr>
		<th>Results</th>
		<td><input type="text" [value]=result/></td>
	</tr>
	<tr>
		<th><input type="button" value="add" (click)="add()"/></th>
		<td><input type="button" value="sub" (click)="sub()"/></td>
	</tr>

</table> -->
 <!-- <table align ="center" width ="50%" border="1">
	<caption>Employee Data</caption>
	<tr>
		
		<th>Employee Id</th>
		<th>Employee Name</th>
		<th>Employee Salary</th>
		<th>Employee Dept No</th>
		<th>Action</th>

	</tr>
	
	<tr *ngFor="let e of empList;index as i">
		
		
		
		
		<td>{{e.empid}}</td>
		<td>{{e.ename}}</td>
		<td>{{e.salary}}</td>
		<td>{{e.deptno}}</td>
		<td><input type="button" value="delete" (click)="deleteEmployeeRow(i)"/></td>
	</tr>
</table>  -->

	
<!-- <ul *ngFor="let e of empList">
	<li>Employee Id {{e.empid}}</li>
	<li>Employee Name {{e.ename}}</li>
	<li>Employee Salary {{e.salary}}</li>
	<li>Employee Dept No {{e.deptno}}</li>

		

</ul> -->
<!-- <ol>
	<li *ngFor="let e of empList">{{e.empid +" "+e.ename+" "+e.salary+" "+e.deptno}}</li>

</ol>	 -->
<!-- <emp-list></emp-list> -->

	



	